/*Computer Device*/
@media screen and (min-width: 1280px)
{
    #mobile, #tablet
    {
        display: none;
    }
    #flex-aside
    {
        background-color: #ffff00;
        width: 30%;
        order: 6;
    }
    #flex-section
    {
        background-color: #0000ff;
        width: 70%;
        order: 5;
    }
    
    .indexarticle-flex
    {
        display: flex;
    }

    /*grid pc*/

    .grid-container{
        display: grid;
        grid-template-columns: 40% 35% 25%;
        /*repeat() in this case will mean that the will have 14 rows set on the size of auto*/
        grid-template-rows: repeat(15, auto);

        background-color: #2196F3;
    }

    #grid-header{
        background-color: #ff0000;
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }

    #grid-nav{
        background-color: #00ff00;
        grid-column: 1 / 4;
        grid-row: 4;
    }
  
    #grid-article1{
        background-color: #FA0;
        grid-column: 2;
        grid-row: 5 / 11;
    }

    #grid-article2{
        background-color: #0AF;
        grid-column: 1;
        grid-row: 5 / 7;
    }

    #grid-article3{
        background-color: #0FA;
        grid-column: 3;
        grid-row: 5 / 8;
    }

    #grid-article4{
        background-color: #F0A; 
        grid-column: 3;
        grid-row: 8 / 11;
    }

    #grid-article5{
        background-color: #A0F;
        grid-column: 1;
        grid-row: 7 / 12;

    }

    #grid-article6{
        background-color: #0AF;
        grid-column: 2 / 4;
        grid-row: 11;
    }

    #grid-aside1{
        background-color: #ffff00;
        grid-column: 1;
        grid-row: 12 / 14;
    }
    
    #grid-aside2{
        background-color: #341f00;
        grid-column: 2;
        grid-row: 12 / 14;
    }

    #grid-aside3{
        background-color: #00ffff;
        grid-column: 3;
        grid-row: 12 / 14;
    }

    #grid-copyright{
        background-color: #0000ff;
        grid-column: 1 / 4;
        grid-row: 14 / 16;
    }

    /*end grid pc*/

    /*begin pricing*/

    #pricing-header
    {
        background-color: #ff0000;
        width: 100%;
    }

    #pricing-table
    {
        background-color: #ffff00;
        width: 80%;
        height: 60vh;
        float: left;
    }

    #pricing-section
    {
        background-color: #0000ff;
        width: 20%;
        height: 60vh;
        float: right;    
    }

    #pricing-footer
    {
        background-color: #ffff00;
        width: 100%;
        float:left;
    }

    /*end pricing*/

    /*begin contact*/

    #contact-header
    {
        background-color: #ff0000;
        width: 100%;
    }

    #contact-nav
    {
        background-color: #ffff00;
        width: 100%;
    }

    #contact-info
    {
        background-color: #0000ff;
        width: 100%;
    }

    #contact-form
    {
        background-color: #ffff00;
        width: 60%;
        height: 70vh;
        float:left;
    }

    #contact-fieldset
    {
        background-color: #0000ff;
        width: 100%;
        height: 100%;
        float:left;
    }

    #contact-section
    {
        background-color: #0000ff;
        width: 40%;
        height: 70vh;
        float:right;
    }

    .contact-img
    {
        width: 30%;
        
    }

    #contact-footer
    {
        background-color: #ffff00;
        width: 100%;
        float:left;
    }

    /*end contact*/
}   

/*Tablet Device*/
@media screen and (min-width: 481px) and (max-width: 1279px)
{
    #mobile, #computer
    {
        display: none;
    }
    #flex-aside
    {
        order: 2;
        background-color: #ffff00;
        width: 100%;
    }
    #flex-section
    {
        background-color: #0000ff;
        width: 100%;
        order: 5;
    }
    .indexarticle-flex
    {
        display: flex;
        flex-direction: row-reverse;
    }

    /*grid tablet*/

    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        /*repeat() in this case will mean that the will have 16 rows set on the size of auto*/
        grid-template-rows: repeat(16, auto);

        background-color: #2196F3;
    }

    #grid-header{
        background-color: #ff0000;
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }

    #grid-nav{
        background-color: #00ff00;
        grid-column: 1 / 3;
        grid-row: 4;
    }
  
    #grid-article1{
        background-color: #FA0;
        grid-column: 1;
        grid-row: 5 / 7;
    }

    #grid-article2{
        background-color: #0AF;
        grid-column: 2;
        grid-row: 5 / 8;
    }

    #grid-article3{
        background-color: #0FA;
        grid-column: 1;
        grid-row: 7 / 11;
    }

    #grid-article4{
        display: none;
    }

    #grid-article5{
        background-color: #A0F;
        grid-column: 2;
        grid-row: 8 / 11;

    }

    #grid-article6{
        background-color: #0AF;
        grid-column: 1 / 3;
        grid-row: 11 / 13;
    }

    #grid-aside1{
        background-color: #ffff00;
        grid-column: 1;
        grid-row: 13 / 15;
    }
    
    #grid-aside2{
        background-color: #341f00;
        grid-column: 2;
        grid-row: 13 / 15;
    }

    #grid-aside3{
        display: none;
    }

    #grid-copyright{
        background-color: #0000ff;
        grid-column: 1 / 3;
        grid-row: 15 / 17;
    }

    /*begin pricing*/

        #pricing-header
    {
        background-color: #ff0000;
        width: 100%;
    }

    #pricing-table
    {
        background-color: #ffff00;
        width: 100%;
        height: 700px;
    }

    #pricing-section
    {
        background-color: #0000ff;
        width: 100%;
    }

    /*pricing section > aside*/

    #pricing-aside1
    {
        display: none;
    }

    #pricing-aside2
    {
        width:50%;
        float: left;
    }

    #pricing-aside3
    {
        width:50%;
        float: right;
    }

    #pricing-footer
    {
        background-color: #ffff00;
        width: 100%;
        float:left;
    }

    /*end pricing*/

    /*begin contact*/

    #contact-header
    {
        background-color: #ff0000;
        width: 100%;
    }

    #contact-nav
    {
        background-color: #ffff00;
        width: 100%;
    }

    #contact-info
    {
        background-color: #0000ff;
        width: 100%;
    }

    #contact-form
    {
        background-color: #ffff00;
        width: 70%;
        height: 70vh;
        float:left;
    }

    #contact-fieldset
    {
        background-color: #0000ff;
        width: 100%;
        height: 100%;
        float:left;
    }

    #contact-section
    {
        background-color: #0000ff;
        width: 30%;
        height: 70vh;
        float:right;
    }

    .contact-img
    {
        width: 30%;
        
    }

    #contact-footer
    {
        background-color: #ffff00;
        width: 100%;
        float:left;
    }

    /*end contact*/

}

/*Mobile Device*/
@media screen and (max-width: 480px)
{
    #tablet, #computer
    {
        display: none;
    }  

    #flex-aside
    {
        order: 2;
        background-color: #ffff00;
        width: 100%;
    }
    #flex-section
    {
        display: flex;
        background-color: #0000ff;
        width: 100%;
        order: 5;
        flex-direction: column-reverse;
    }

    .indexarticle-flex
    {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .mobiledisplay
    {
        display: none;
    }

    /*grid mobile*/

    .grid-container{
        display: grid;
        grid-template-columns: 60% 40%;
        /*repeat() in this case will mean that the will have 20 rows set on the size of auto*/
        grid-template-rows: repeat(20, auto);

        background-color: #2196F3;
    }

    #grid-header{
        background-color: #ff0000;
        grid-column: 1;
        grid-row: 1 / 3;
    }

    #grid-nav{
        background-color: #00ff00;
        grid-column: 2;
        grid-row: 1 / 3;
    }
  
    #grid-article1{
        background-color: #FA0;
        grid-column: 1 / 3;
        grid-row: 12 / 15;
    }

    #grid-article2{
        background-color: #0AF;
        grid-column: 1 / 3;
        grid-row: 9 / 12;
    }

    #grid-article3{
        background-color: #0FA;
        grid-column: 1 / 3;
        grid-row: 6 / 9;
    }

    #grid-article4{
        display: none;
    }

    #grid-article5{
        background-color: #A0F;
        grid-column: 1 / 3;
        grid-row: 3 / 6;

    }

    #grid-article6{
        display: none;
    }

    #grid-aside1{
        background-color: #ffff00;
        grid-column: 1 / 3;
        grid-row: 15 / 17;
    }
    
    #grid-aside2{
        background-color: #341f00;
        grid-column: 1 / 3;
        grid-row: 17;
    }

    #grid-aside3{
        background-color: #00ffff;
        grid-column: 1 / 3;
        grid-row: 18;
    }

    #grid-copyright{
        background-color: #0000ff;
        grid-column: 1 / 3;
        grid-row: 19 / 21;
    }

   /* end grid*/
   
   /*begin pricing*/

   #pricing-header
   {
       background-color: #ff0000;
       width: 50%;
       float:left;
   }

   #pricing-table
   {
       background-color: #ffff00;
       width: 100%;
       height: 700px;
   }

   #pricing-section
   {
       background-color: #0000ff;
       width: 100%;
   }

   /*pricing section > aside*/

   #pricing-aside1
   {
        width:100%;
        float: right;
   }

   #pricing-aside2
   {
       width:100%;
       float: left;
   }

   #pricing-aside3
   {
       width:100%;
       float: right;
   }

   #pricing-footer
   {
       background-color: #ffff00;
       width: 100%;
       float:left;
   }

   /*end pricing*/

   /*begin contact*/

   #contact-header
   {
       background-color: #ff0000;
       width: 70%;
       float:left;
   }

   #contact-nav
   {
       background-color: #ffff00;
       width: 30%;
   }

   #contact-info
   {
       background-color: #0000ff;
       width: 100%;
       float:left;
   }

   #contact-form
   {
       background-color: #ffff00;
       width: 100%;
       height: 30vh;
       float:left;
   }

   #contact-fieldset
   {
       background-color: #0000ff;
       width: 100%;
       height: 100%;
       float:left;
   }

   #contact-section
   {
       background-color: #0000ff;
       width: 100%;
       height: 70vh;
       float:left;
   }

   .contact-img
   {
       width: 50%;
       
   }

   #contact-footer
   {
       background-color: #ffff00;
       width: 100%;
       float:left;
   }

   /*end contact*/
}

/*flexbox*/
#flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00ff00;
}

#flex-header
{
    background-color: #ff0000;
    flex: 100%;
    order: 1;
}

#flex-nav
{
    background-color: chocolate;
    flex: 100%;
    order: 4;
}



#flex-video
{
    display: flex;
    justify-content: start;
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    flex:100%;
    order: 3;
}


/*end flexbox*/

/* pricing */

#pricing-nav
{
    background-color: #00ff00;
    width: 100%;
}

.pricing-img
{
    width: 50%;
    height: 50%;
}

#pricing-article
{
    width:100%;
    float: left;
    background-color: #00ffff;
}


#logo
{
    width: 100px;
    height: 100px;
}

.index-img 
{
    width: 30%;
    height: 30%;
}

.product-img
{
    width: 70%;
    height: 70%;
}

.copyright
{   
    background-color: #ff00ff;
    display: flex;
    width:100%;
    order: 7;
}

.cookie
{
    color: #fff;
    opacity: 50%;
    background-color: #FA0;
    
    position:fixed;
    width: 25%;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.tablecaption
{
    caption-side: bottom;
}


/*this is to avoid using <br> inside html for the form*/
input
{
    display: block;
}

textarea
{
    display: block;
}

/*all pseudo links*/
a:link
{
    color: #1100ff;
}

a:visited
{
    color: #ff0000;
}

a:hover
{
    color: #00ff00;
}

a:active
{
    color: #ffff00;
}