/*Computer Device*/
@media screen and (min-width: 1280px)
{
    #mobile, #tablet
    {
        display: none;
    }
    #flex-aside
    {
        background-color: #ffff00;
        width: 30%;
        order: 6;
    }
    #flex-section
    {
        background-color: #0000ff;
        width: 70%;
        order: 5;
    }
    
    .indexarticle-flex
    {
        display: flex;
    }

   
}   

/*Tablet Device*/
@media screen and (min-width: 481px) and (max-width: 1279px)
{
    #mobile, #computer
    {
        display: none;
    }
    #flex-aside
    {
        order: 2;
        background-color: #ffff00;
        width: 100%;
    }
    #flex-section
    {
        background-color: #0000ff;
        width: 100%;
        order: 5;
    }
    .indexarticle-flex
    {
        display: flex;
        flex-direction: row-reverse;
    }

}

/*Mobile Device*/
@media screen and (max-width: 480px)
{
    #tablet, #computer
    {
        display: none;
    }  

    #flex-aside
    {
        order: 2;
        background-color: #ffff00;
        width: 100%;
    }
    #flex-section
    {
        display: flex;
        background-color: #0000ff;
        width: 100%;
        order: 5;
        flex-direction: column-reverse;
    }

    .indexarticle-flex
    {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .mobiledisplay
    {
        display: none;
    }


}

#flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00ff00;
}

#flex-header
{
    background-color: #ff0000;
    flex: 100%;
    order: 1;
}

#flex-nav
{
    background-color: chocolate;
    flex: 100%;
    order: 4;
}


ul
{
    display: flex;
}


#flex-copyright
{   
    background-color: #ff00ff;
    display: flex;
    flex: 100%;
    order: 7;
}

#logo
{
    width: 100px;
    height: 100px;
}

#flex-cookie
{
    color: #fff;
    opacity: 50%;
    background-color: #FA0;
    flex: 100%;
    position:fixed;
    width: 25%;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

video
{
    display: flex;
    justify-content: start;
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    flex:100%;
    order: 3;
}

li
{
    margin-right: 20px;
}

img 
{
    width: 30%;
    height: 30%;
}


