/*Computer Device*/
@media screen and (min-width: 1280px)
{
    #mobile, #tablet
    {
        display: none;
    }

    #flex-aside
    {
        position:fixed;
        width: 30%;
        order: 6;
        right: 0;
        top: 30vh;
    }
    #flex-section
    {
        
        width: 70%;
        order: 5;
    }
    
    .indexarticle-flex
    {
        display: flex;
    }

    /*grid pc*/

    .grid-container{
        display: grid;
        grid-template-columns: 40% 35% 25%;
        /*repeat() in this case will mean that the will have 14 rows set on the size of auto*/
        grid-template-rows: repeat(15, auto);

        -color: #2196F3;
    }

    #grid-header{
        
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }

    #grid-nav{
        
        grid-column: 1 / 4;
        grid-row: 4;
    }
  
    #grid-article1{
        
        grid-column: 2;
        grid-row: 5 / 11;
    }

    #grid-article2{
        
        grid-column: 1;
        grid-row: 5 / 7;
    }

    #grid-article3{
        
        grid-column: 3;
        grid-row: 5 / 8;
    }

    #grid-article4{
         
        grid-column: 3;
        grid-row: 8 / 11;
    }

    #grid-article5{
        
        grid-column: 1;
        grid-row: 7 / 12;

    }

    #grid-article6{
        
        grid-column: 2 / 4;
        grid-row: 11;
    }

    #grid-aside1{
        
        grid-column: 1;
        grid-row: 12 / 14;
    }
    
    #grid-aside2{
        
        grid-column: 2;
        grid-row: 12 / 14;
    }

    #grid-aside3{
        
        grid-column: 3;
        grid-row: 12 / 14;
    }

    #grid-copyright{
        
        grid-column: 1 / 4;
        grid-row: 14 / 16;
    }

    /*end grid pc*/

    /*begin pricing*/

    #pricing-header
    {
        
        width: 100%;
    }

    #pricing-table
    {
        
        width: 80%;
        height: 60vh;
        float: left;
    }

    #pricing-section
    {
        
        width: 20%;
        height: 60vh;
        float: right;    
    }

    #pricing-footer
    {
        
        width: 100%;
        float:left;
    }

    /*end pricing*/

    /*begin contact*/

    #contact-header
    {
        
        width: 100%;
    }

    #contact-nav
    {
        
        width: 100%;
    }

    #contact-info
    {
        
        width: 100%;
    }

    #contact-form
    {
        
        width: 60%;
        height: 70vh;
        float:left;
    }

    #contact-fieldset
    {
        
        width: 100%;
        height: 100%;
        float:left;
    }

    #contact-section
    {
        
        width: 40%;
        height: 70vh;
        float:right;
    }

    .contact-img
    {
        width: 30%;
        
    }

    #contact-footer
    {
        
        width: 100%;
        float:left;
    }

    /*end contact*/
}   

/*Tablet Device*/
@media screen and (min-width: 481px) and (max-width: 1279px)
{
    #mobile, #computer
    {
        display: none;
    }
    #flex-aside
    {
        order: 2;
        
        width: 100%;
    }
    #flex-section
    {
        
        width: 100%;
        order: 5;
    }
    .indexarticle-flex
    {
        display: flex;
        flex-direction: row-reverse;
    }

    /*grid tablet*/

    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        /*repeat() in this case will mean that the will have 16 rows set on the size of auto*/
        grid-template-rows: repeat(16, auto);

        
    }

    #grid-header{
        
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }

    #grid-nav{
        
        grid-column: 1 / 3;
        grid-row: 4;
    }
  
    #grid-article1{
        
        grid-column: 1;
        grid-row: 5 / 7;
    }

    #grid-article2{
        
        grid-column: 2;
        grid-row: 5 / 8;
    }

    #grid-article3{
        
        grid-column: 1;
        grid-row: 7 / 11;
    }

    #grid-article4{
        display: none;
    }

    #grid-article5{
        
        grid-column: 2;
        grid-row: 8 / 11;

    }

    #grid-article6{
        
        grid-column: 1 / 3;
        grid-row: 11 / 13;
    }

    #grid-aside1{
        
        grid-column: 1;
        grid-row: 13 / 15;
    }
    
    #grid-aside2{
        
        grid-column: 2;
        grid-row: 13 / 15;
    }

    #grid-aside3{
        display: none;
    }

    #grid-copyright{
        
        grid-column: 1 / 3;
        grid-row: 15 / 17;
    }

    /*begin pricing*/

        #pricing-header
    {
        
        width: 100%;
    }

    #pricing-table
    {
        
        width: 100%;
        height: 700px;
    }

    #pricing-section
    {
        
        width: 100%;
    }

    /*pricing section > aside*/

    #pricing-aside1
    {
        display: none;
    }

    #pricing-aside2
    {
        width:50%;
        float: left;
    }

    #pricing-aside3
    {
        width:50%;
        float: right;
    }

    #pricing-footer
    {
        
        width: 100%;
        float:left;
    }

    /*end pricing*/

    /*begin contact*/

    #contact-header
    {
        
        width: 100%;
    }

    #contact-nav
    {
        
        width: 100%;
    }

    #contact-info
    {
        
        width: 100%;
    }

    #contact-form
    {
        
        width: 70%;
        height: 70vh;
        float:left;
    }

    #contact-fieldset
    {
        
        width: 100%;
        height: 100%;
        float:left;
    }

    #contact-section
    {
        
        width: 30%;
        height: 70vh;
        float:right;
    }

    .contact-img
    {
        width: 30%;
        
    }

    #contact-footer
    {
        
        width: 100%;
        float:left;
    }

    /*end contact*/

}

/*Mobile Device*/
@media screen and (max-width: 480px)
{
    #tablet, #computer
    {
        display: none;
    }  

    #flex-aside
    {
        order: 2;
        
        width: 100%;
    }
    #flex-section
    {
        display: flex;
        width: 100vw;
        order: 5;
        flex-direction: column;
    }

    #flex-sectionsection
    {
        display: flex;
        flex-direction: column-reverse;
        flex:100%;
        width:100vw; 
    }

    #flex-sectionheader
    {
        display:flex;
        flex:100%;
        width:100%;    
    }

    #flex-footermobile
    {
        display:flex;
        flex:100%;
        width:100vw;
        justify-content: start;
    }

    #flex-header
    {
        height:30vh;
    }

    .indexarticle-flex
    {
        display: flex;
        flex-direction: row-reverse;
        flex:100%;
        width:100vw;
    }
    
    .mobiledisplay
    {
        display: none;
    }

    /*grid mobile*/

    .grid-container{
        display: grid;
        grid-template-columns: 60% 40%;
        /*repeat() in this case will mean that the will have 20 rows set on the size of auto*/
        grid-template-rows: repeat(20, auto);

        
    }

    #grid-header{
        height:30vh;
        grid-column: 1/3;
        grid-row: 1 / 3;
    }

    #grid-nav{
        
        grid-column: 2;
        grid-row: 1 / 3;
    }
  
    #grid-article1{
        
        grid-column: 1 / 3;
        grid-row: 12 / 15;
    }

    #grid-article2{
        
        grid-column: 1 / 3;
        grid-row: 9 / 12;
    }

    #grid-article3{
        
        grid-column: 1 / 3;
        grid-row: 6 / 9;
    }

    #grid-article4{
        display: none;
    }

    #grid-article5{
        
        grid-column: 1 / 3;
        grid-row: 3 / 6;

    }

    #grid-article6{
        display: none;
    }

    #grid-aside1{
        
        grid-column: 1 / 3;
        grid-row: 15 / 17;
    }
    
    #grid-aside2{
        
        grid-column: 1 / 3;
        grid-row: 17;
    }

    #grid-aside3{
        
        grid-column: 1 / 3;
        grid-row: 18;
    }

    #grid-copyright{
        
        grid-column: 1 / 3;
        grid-row: 19 / 21;
    }

   /* end grid*/
   
   /*begin pricing*/

   #pricing-header
   {
       
       width: 100%;
       float:left;
       height:30vh;
   }

   #pricing-table
   {
       
       width: 100%;
       height: 700px;
   }

   #pricing-section
   {
       
       width: 100%;
   }

   /*pricing section > aside*/

   #pricing-aside1
   {
        width:100%;
        float: right;
   }

   #pricing-aside2
   {
       width:100%;
       float: left;
   }

   #pricing-aside3
   {
       width:100%;
       float: right;
   }

   #pricing-footer
   {
       
       width: 100%;
       float:left;
   }

   /*end pricing*/

   /*begin contact*/

   #contact-header
   {
       height: 30vh;
       width: 100%;
       float:left;
   }

   #contact-nav
   {
       
       width: 30%;
   }

   #contact-info
   {
       
       width: 100%;
       float:left;
   }

   #contact-form
   {
       
       width: 100%;
       height: 30vh;
       float:left;
   }

   #contact-fieldset
   {
       
       width: 100%;
       height: 100%;
       float:left;
   }

   #contact-section
   {
       
       width: 100%;
       height: 70vh;
       float:left;
   }
   

   .contact-img
   {
       width: 30%;
       position: relative;
       top:18vh;       
   }

   #contact-footer
   {
       
       width: 100%;
       float:left;
   }

   /*end contact*/
}

/*flexbox*/
#flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#flex-header
{
    flex: 100%;
    order: 1;
}

#flex-nav
{
    
    flex: 100%;
    order: 4;
}



#flex-video
{
    display: flex;
    justify-content: start;
    
    width: 300px;
    height: 300px;
    flex:100%;
    order: 3;
}


/*end flexbox*/

/* pricing */

#pricing-nav
{
    
    width: 100%;
}

.pricing-img
{
    width: 50%;
    height: 50%;
}

#pricing-article
{
    width:100%;
    float: left;
    
}


#logo
{
    width: 100px;
    height: 100px;
}

.index-img 
{
    width: 80%;
    height: 80%;
}

.product-img
{
    width: 70%;
    height: 70%;
}

.copyright
{   
    
    display: flex;
    width:100%;
    order: 7;
}

.cookie
{
    color: #fff;
    opacity: 50%;
    background-color: #fa0;
    position:fixed;
    width: 25%;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.tablecaption
{
    caption-side: bottom;
}


/*this is to avoid using <br> inside html for the form*/
input
{
    display: block;
}

textarea
{
    display: block;
}

/*all pseudo links*/
a:link
{
    color: #1100ff;
}

a:visited
{
    color: #ff0000;
}

a:hover
{
    color: #00ff00;
}

a:active
{
    color: #ffff00;
}

body
{
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    text-indent: 0;
}

.body-header
{
    background-color: #288cd7;
    margin: 0;
}

section
{
    margin: 0;
}

/*begin hamburger menu*/

#hamburger
{
    opacity: 0%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

#hamburger:checked ~ #hamburgermenu-enabled
{
    display: block;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 999;
    height: 30vh;
    background-color: #2376b6;
}

#hamburger:checked
{
    position: fixed;
    z-index: 1000;
}

#hamburgermenu-enabled
{
    display: none;
}

#hamburger-label
{
    top: 0;
    right: 0;
    position:absolute;
    margin: 0;
    z-index: 1000;
}

/*end hamburger menu*/

/* begin grid colouring*/
#grid-article1
{
    background-color: #DCDCDC;
}

#grid-article2
{
    background-color: #D3D3D3;
}

#grid-article3
{
    background-color: #C0C0C0;
}

#grid-article4
{
    background-color: #A9A9A9;
}

#grid-article5
{
    background-color: #808080;
}

#grid-article6
{
    background-color: #c4c2c2;
}

#grid-article1, #grid-article2, #grid-article3, #grid-article4, #grid-article5, #grid-article6
{
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

/* end grid colouring*/

.grid-container aside
{
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}